.BoatActionCard {
  display: flex;
  flex-direction: column;

  .CardHeaderArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .BoatSubmitButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}